/*
   This file contains styles for the GWT application.  
 */

body {
    font-family: Verdana,Sans-serif;
    font-size: 12px;
    line-height: 18px;
}

#spiffyIntroText {
    width: 600px;
}

p, li {
    margin-top: 1em;
}

h2 {
    font-size: 18px;
    margin-top: 1.5em;
}

.spiffy-longmessage-panel {
    margin-bottom: 1em;
}

.oddrow {
    background-color: #F9F9F9;
}


.gridlistitem {
    height: 2.5em;
    margin: 0.5em;
    position: relative;
    vertical-align: top;
}

.useridcol {
    left: 0.25em;
    position: absolute;
    top: 0;
    width: 15%;
    overflow: hidden;
}

.userfullnamecol {
    left: 15%;
    position: absolute;
    top: 0;
    width: 35%;
    overflow: hidden;
}

.useremailcol {
    left: 50%;
    position: absolute;
    top: 0;
    width: 50%;
    overflow: hidden;
}

#mainNavigation {
    display: none;
}

#mainBody {
    margin-left: 10px;
}

#userMale {
    margin-left: 1.5em;
}

button.spiffy-del-button {
    background: url("org.spiffyui.spiffyforms.index/images/spiffy_ui_images.png") no-repeat scroll 10px -5px #EDEEEC;
}

#userListGrid {
    height: 100px;
    overflow: auto;
    width: 675px;
    border: thin solid lightgray;
}

#userListTitle {
    position: relative;
}

#newUserLink {
    position: absolute;
    right: 10px;
    top: 0px;
}

#userDetailsTitle {
    margin-top: 2em;
}

div.spiffy-formfeedback.valid {
    color: green;
    width: auto;
    padding-left: 25px;
}

div.spiffy-formfeedback.error {
    color: red;
    width: auto;
    padding-left: 25px;
}

.dialogformrow {
    height: auto;
    position: static;
}

.dialogformlabel {
    display: inline-block;
    width: 175px;
    vertical-align: top;
    overflow: hidden;
    text-overflow: ellipsis;
    
    left: auto;
    position: static;
    top: auto;
}

.formcontrolssection {
    left: auto;
    position: static;
    top: auto;
    width: auto;
    
    display: inline-block;
    margin-left: 20px;
    vertical-align: top;
}

.spiffy-formfeedback-inform {
    display: inline-block;
    padding-left: 0px;
    margin-left: 25px;
    position: static;
    width: auto;
    left: auto;
    top: auto;
}

.formbuttons {
    margin-left: 200px;
    margin-top: 28px;
}

.extratallformrow {
    height: auto;
    position: static;
}
