/*
   This file contains styles for the GWT application.  
 */

body {
    font-family: Verdana,Sans-serif;
    font-size: 14px;
    line-height: 18px;
}

#spiffyIntroText {
    width: 600px;
}

p, li {
    margin-top: 1em;
}

h2 {
    font-size: 18px;
    margin-top: 1.5em;
}

li {
    list-style: disc inside none;
}

.spiffy-longmessage-panel {
    margin-bottom: 1em;
}

.gridlist {
    font-size: 1.5em;
    background-color: #00FF00;
}

.oddrow {
    background-color: #F2F2F2;
}


.gridlistitem {
    height: 2.5em;
    margin: 0.5em;
    position: relative;
    vertical-align: top;
}

.useridcol {
    font-size: 0.75em;
    left: 0.25em;
    line-height: 1.5em;
    position: absolute;
    top: 0;
    width: 20%;
}

.userfullnamecol {
    left: 5em;
    line-height: 1.5em;
    position: absolute;
    top: 0;
    width: 80%;
}
