/*
   This file contains styles for the GWT application.  
 */

body {
    font-family: Verdana,Sans-serif;
    font-size: 12px;
    line-height: 18px;
}

#spiffyIntroText {
    width: 600px;
}

p, li {
    margin-top: 1em;
}

h2 {
    font-size: 18px;
    margin-top: 1.5em;
}

li {
    list-style: disc inside none;
}

.spiffy-longmessage-panel {
    margin-bottom: 1em;
}

.gridlist {
    font-size: 1.5em;
}

.oddrow {
    background-color: #F9F9F9;
}


.gridlistitem {
    height: 2.5em;
    margin: 0.5em;
    position: relative;
    vertical-align: top;
}

.useridcol {
    left: 0.25em;
    position: absolute;
    top: 0;
    width: 15%;
    overflow: hidden;
}

.userfullnamecol {
    left: 15%;
    position: absolute;
    top: 0;
    width: 35%;
    overflow: hidden;
}

.useremailcol {
    left: 50%;
    position: absolute;
    top: 0;
    width: 50%;
    overflow: hidden;
}

#mainNavigation {
    display: none;
}

#mainBody {
    margin-left: 0px;
}
